@model IEnumerable<Arel_MezunBilgiSistemi.Models.Kategoriler>

@{
    ViewBag.Title = "Kategoriler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br /><br /><br /><br />
<h2>Kategori Sayfası</h2>

<p>
    @Html.ActionLink("Yeni Kategori Ekle", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KategoriAdi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KategoriAdi)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.kategoriId }) |
            @Html.ActionLink("Görüntüle", "Details", new { id=item.kategoriId }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.kategoriId })
        </td>
    </tr>
}

</table>
